@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

html,body{
    min-height: 100vh ;
    background-color: rgb(104, 103, 103);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header a, footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

header > p{
    padding-bottom: 50px;
}

header > h1{
    font-variant: small-caps;
    padding-top: 50px;
    font-size: 10vw;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

section > p{
    padding-bottom: 1em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(44, 43, 43);
    color: white;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.61);
    display: inline-block;
    padding: 5px;
}

section#img01{
    background-image: url(../cordel/imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}

section#img02{
    background-image: url(../cordel/imagens/background002.jpg);
    background-size: cover;
}

footer{
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;
}