@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%; */
}


body{
    background-image: linear-gradient(to right,#9BF2EA,#275950);
}


h1{ 
    text-align: center;
   color: #260101;
   text-shadow: 1px 1px 2px #1b0101be;
}


h2{
   color: #2A8C82;
}


main{
    box-shadow: 5px 5px 15px #260101;
    border-radius: 20px;
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
}


p{
    text-align: justify;
}