@charset "UTF-8";

body{
    background-color: rgba(2, 161, 2, 0.562);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(13, 41, 8);
    color: aliceblue;
    margin: -23px -20px;
    padding: 10px;
    text-align: center;

}

h2{
   background-image: linear-gradient(to right, rgba(128, 128, 128, 0.699), rgba(255, 255, 255, 0.616), rgba(2, 161, 2, 0.185)
   );
}

.lista{
   list-style: none;
   background-color: aliceblue;
   padding: 10px;
   width: 500px;
   
}
